# general requirements
pandas
pathlib
numpy
loguru

# parquet parsing
fsspec
fastparquet

# AWS access
boto3
awswrangler

# Azure services
azure-batch
azure-storage-blob

# database
pymssql
sqlalchemy

# BICEP
scipy